<div class="alignment">
    <div class="registration-form">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit(forgotPasswordForm.value)">
            <div class="form-icon">
                <span><i class="fa fa-user"></i></span>

            </div>
            <div class="form-heading">
                <h1>Forgot Password</h1>
            </div>

            <div class="form-group">
                <input type="text" class="form-control item" formControlName="email" maxlength="30" placeholder="Email">
                <span class="text-danger"
                    *ngIf="forgotPasswordForm.controls.email.errors && forgotPasswordForm.controls.email.touched">Invalid
                    Email
                    Address.</span>
            </div>
            <div class="alert alert-success" role="alert" *ngIf="mailSended">
                Reset password link is sended to registered mail id.
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="error">
                <center>
                    <strong>{{error}}</strong>

                </center>
            </div>

            <div class="form-group">
                <button type="submit" [disabled]="forgotPasswordForm.invalid" class="btn btn-block create-account">Reset
                    Password</button>
            </div>
            <h5 class="sepration">OR</h5>
            <div class="form-group">
                <button type="button" class="btn btn-block create-account" routerLink="/login" style="background-color: #333333;">
                Back To Login</button>
            </div>
        </form>

    </div>
</div>